<%= styled_form_with model: import,
                     url: import_configuration_path(import),
                     method: :put,
                     scope: :import,
                     class: "space-y-2" do |form| %>

  <div class="space-y-4">
    <% columns.each do |column| %>
      <div>
        <%= form.label :"#{column}_col_label", import_col_label(column) %>
        <%= form.select :"#{column}_col_label", import.csv_headers, include_blank: true, class: "form-select" %>
      </div>
    <% end %>
  </div>

  <div class="flex justify-center mt-6">
    <%= form.submit t("imports.configurations.submit"), class: "btn btn--primary" %>
  </div>

<% end %>
