<p>Vous avez reçu un nouveau message de support :</p>

<p><strong>Nom :</strong> <%= @message.name %></p>
<p><strong>Email :</strong> <%= @message.email %></p>
<p><strong>Sujet :</strong> <%= @message.subject %></p>

<p><strong>Message :</strong></p>
<p><%= @message.content %></p>
